@import "../../../styles/settings.scss";

.component {
  margin: 0 0 ($base-size * 5) 0;
  overflow: hidden;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 85%;
  text-align: center;
  color: $color-light;
  opacity: 0.9;
  transform: translate(-50%, -50%);
}

.title {
  font-size: ($base-size * 2);
}
